@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

:root {
	/* Colors */
	--gray: #a9a9a9;
	/* Typography */
	--font-family-montserrat: "Montserrat", sans-serif;
	--font-family-poppins: "Poppins", sans-serif;
	--font-family-ptserif: "PT Serif", serif;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--font-size-xs: 10px;
	--font-size-sm: 14px;
	--font-size-md: 18px;
	--font-size-lg: 36px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

header {
	padding: 1rem;
}

h1.header {
	font-family: var(--font-family-ptserif);
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bold);
	letter-spacing: -0.045em;
	margin-top: 3rem;
}

.info > .info__header {
	font-family: var(--font-family-poppins);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-md);
	text-transform: uppercase;
	margin: 1rem 0;
}
.info > .info__text {
	font-family: var(--font-family-poppins);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-sm);
}

.card__container {
	display: grid;
	grid-template-columns: 45vw 45vw;

	padding: 1rem;
	align-self: center;
	gap: 1rem;
}

.card {
	position: relative;
}
.card:nth-of-type(2n) {
	margin-top: 3rem;
}

.card > .card__image {
	width: calc(100% - 1.2rem);
}

.card > h3.card__name {
	font-family: var(--font-family-poppins);
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-sm);
	text-transform: capitalize;
	line-height: 21px;
	margin-top: 10px;
}
.card > h4.card__title {
	transform: rotate(90deg);
	transform-origin: top left;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	font-family: var(--font-family-ptserif);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-xs);
	text-transform: uppercase;

	line-height: 13.25px;
}
footer {
	margin: 2rem auto;
	color: var(--gray);
}

footer > a {
	color: var(--gray);
	font-weight: var(--font-weight-bold);
}

@media only screen and (min-width: 800px) {
	:root {
		/* Typography */
		--font-size-xs: 12px;
		--font-size-sm: 18px;
		--font-size-md: 18px;
		--font-size-lg: 36px;
	}
	header {
		display: grid;
		grid-template-columns: 30vw 30vw;
		gap: 2rem;
		margin: 2rem 0;
	}
	h1.header {
		margin: 0;
	}

	.card__container {
		display: inline-grid;
		grid-template-columns: repeat(3, 20vw);
		gap: 4rem;
	}
	.card:nth-of-type(2n) {
		margin-top: 0rem;
	}
	.card:nth-of-type(2),
	.card:nth-of-type(5) {
		margin-top: 6rem;
	}
}
